h1 {
    color:#FF5F00;
    text-align: center;
}
h2 {
    color:#6DC5D1;
    text-align: center;
}
body {
    background-color: #F6E9B2;
}
p {
    text-align: center;
}
ul , li {
    text-align: center;
}